<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
&lt;!&ndash; ApplicationConfig.java와 같은기능 하는 파일 작성 &ndash;&gt;
    &lt;!&ndash;
    <bean id="conveniencePayService" class="com.zerobase.convpay.service.ConveniencePayService">

        <constructor-arg name="paymentInterfaceSet">
            <set>
                <ref bean="cardAdapter"/>
                <ref bean="moneyAdapter"/>
            </set>
        </constructor-arg>
        <constructor-arg name="discountInterface" ref="discountByConvenience"/>
    </bean>

    <bean id="cardAdapter" class="com.zerobase.convpay.service.CardAdapter"/>
    <bean id="moneyAdapter" class="com.zerobase.convpay.service.MoneyAdapter"/>
    <bean id="discountByConvenience" class="com.zerobase.convpay.service.DiscountByConvenience"/>
    <bean id="discountByPayMethod" class="com.zerobase.convpay.service.DiscountByPayMethod"/>
    &ndash;&gt;

    &lt;!&ndash; base-packge안 돌면서 특정 어노테이션 붙어있으면 bean으로 알아서 등록해줌  &ndash;&gt;
    <context:component-scan base-package="com.zerobase.convpay" />
</beans>-->
